.footer {
  padding-top: 32px;
  padding-bottom: 16px;
  background-color: map-get($colors,'secondary-black');
  color:  map-get($colors,'primary-white');

  @include mobile-screen-desktop() {
    padding-top: 15px;
  }
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;

  @include mobile-screen-desktop() {
    justify-content: center;
  }
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__list-icon {
  display: flex;
  gap: 16px;
  align-items: center;

  @include small-screen-desktop() {
   gap: 10px;
  }

}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer__subtitle {
  @include paragraph();
  color: map-get($colors,'secondary-grey') ;

  @include mobile-screen-desktop() {
    @include media-text();
  }
}

.footer__link {
  @include paragraph();
  color: map-get($colors,'primary-white') ;
  font-weight: map-get($font-weight,'semibold');
  text-decoration: underline;

  @include small-screen-desktop() {
   @include media-text();
  }

  @include mobile-screen-desktop() {
    @include small-text();
  }
}

.footer__last-column {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__text {
  font-weight: map-get($font-weight,'semibold');
  font-size: 1.2rem;
  line-height: calc(17 / 12);
  color: map-get($colors,'primary-grey') ;
  text-transform: uppercase;
}
