.suits {
  padding-top: 128px;
  padding-bottom: 133px;

  @include media-screen-desktop() {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  @include small-screen-desktop() {
    padding-top: 20px;
    padding-bottom: 20px;

    @include mobile-screen-desktop() {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.suits__container {
  display: flex;
  align-items: center;
  gap: 184px;
  justify-content: space-between;

  @include small-screen-desktop() {
    flex-direction: column;
    gap: 30px;
  }

  @include mobile-screen-desktop() {
   gap: 10px;
  }
}

.suits__wrapper-content {
  width: 512px;

  @include small-screen-desktop() {
    width: 100%;
    text-align: center;
  }
}

.suits__title {
  @include title();
  font-weight: map-get($font-weight,'bold');
  color: map-get($colors,'secondary-black');
  margin-bottom: 24px;

  @include small-screen-desktop() {
    @include small-title();
    margin-bottom: 15px;
  }

  @include mobile-screen-desktop() {
    @include mobile-title();
    margin-bottom: 10px;
  }
}

.suits__text {
  @include paragraph();
  font-weight: map-get($font-weight,'medium');
  color: map-get($colors,'secondary-black');
  margin-bottom: 16px;

  @include small-screen-desktop() {
    @include media-text();
    margin-bottom: 7px;
  }

  @include mobile-screen-desktop() {
    margin-bottom: 7px;
  }
}

.suits__paragraph {
  @include paragraph();
  font-weight: map-get($font-weight,'medium');
  color: map-get($colors,'secondary-black');
  margin-bottom: 36px;

  @include small-screen-desktop() {
    @include media-text();
    margin-bottom: 20px;
  }

  @include mobile-screen-desktop() {
    margin-bottom: 7px;
  }
}

.suits__wrapper-button {
  filter: drop-shadow(8px 4px 0 #00FFBB);
}

.suits__button {
  min-width: 152px;
  padding: 16px 28px 16px 16px;
  background-color: map-get($colors,'secondary-black');
  color: map-get($colors,'turquiose');
  font-weight: map-get($font-weight,'bold');
  font-size: 2.4rem;
  line-height: calc(35 / 24);
  letter-spacing: 0.05rem;
  clip-path: polygon(0 0%, 80% 0%, 100% 100%, 0% 100%);

  @include small-screen-desktop() {
    min-width: 200px;
  }

  @include mobile-screen-desktop() {
    min-width: 100px;
    padding: 10px 25px 10px 20px;
    font-size: 1.8rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 960px) {
  .suits__image {
    width: 70%;
  }
}
